<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <footer>
    <p>
      &copy; <span id="currentYear"></span>
      <a href="https://moayyadsaleh.github.io/personal-website/">Moayyad Saleh</a>.
      All rights reserved. |
      <a href="https://www.linkedin.com/in/moayyad-saleh/">LinkedIn</a> |
      <a href="https://github.com/moayyadsaleh">GitHub</a>
    </p>
  </footer>
  
  <script>
    const currentYear = new Date().getFullYear();
    document.getElementById("currentYear").textContent = currentYear;
  </script>
</html>