node_modules/
venv/
__pycache__/
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.css
*.js
*.html
.vscode/
.idea/
.DS_Store
.env
.env.*
*.log
/logs/
/uploads/
/media/
.cache/
/tmp/
/config/*.config
.editorconfig
.eslintrc
.prettierrc